{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/see2.css' %}">

    <!-- ****** faviconit.com favicons ****** -->
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}">
    <link rel="icon" sizes="16x16 32x32 64x64" href="{% static 'favicon/favicon.ico' %}">
    <link rel="icon" type="image/png" sizes="196x196" href="{% static 'favicon/favicon-192.png' %}">
    <link rel="icon" type="image/png" sizes="160x160" href="{% static 'favicon/favicon-160.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon/favicon-96.png' %}">
    <link rel="icon" type="image/png" sizes="64x64" href="{% static 'favicon/favicon-64.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16.png' %}">
    <link rel="apple-touch-icon" href="{% static 'favicon/favicon-57.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicon/favicon-114.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicon/favicon-72.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicon/favicon-144.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicon/favicon-60.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicon/favicon-120.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicon/favicon-76.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicon/favicon-152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/favicon-180.png' %}">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="{% static 'favicon/favicon-144.png' %}">
    <meta name="msapplication-config" content="favicon/browserconfig.xml">
    <!-- ****** faviconit.com favicons ****** -->

    <title>See2 - for the Digital Social Economy</title>
</head>
<body>
    <div class="container">
        <div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <a class="navbar-brand" href="#">See2</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="solutions">Solutions</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="about">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="contact">Contact</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#">Pricing</a>
                  </li>
                  <li>
                    {% if user.is_authenticated %}
                        <p>Logged in!</p>
                    {% else %}
                        <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
                    {% endif %}
                  </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
              </div>
            </nav>
        </div>
        <div>
            {%  block content %}
            {%  endblock %}
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>