{% extends '_base.html' %}
{% load static %}

{% block title %}See2 for the Digital Social Economy{% endblock title %}

{% block content %}
    <div class="container">
        <h1>See2</h1>
        <div class="card">
            <img class="card-img-top" src="images/dse-800x400.png" alt="The Digital Social Economy">
            <div class="card-body">
                <p>Stuff here</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">More stuff here</small>
            </div>
        </div>

{% endblock content %}